<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AJ24 Header</title>
    <!-- Add your CSS stylesheets or links here -->
</head>
<body>
<header>
    <!-- Header content goes here -->
    <!--    <h1>AJ24 Header</h1>-->
    <!-- Add navigation links or other header elements -->
    <div class="container">
        <header class="border-bottom lh-1 py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-4 pt-1">
                    <a class="link-secondary" href="#">Subscribe</a>
                </div>
                <div class="col-4 text-center">
                    <a class="blog-header-logo text-body-emphasis text-decoration-none" href="#">제목</a>
                </div>
                <div class="col-4 d-flex justify-content-end gap-2">
                    <a class="btn btn-sm btn-outline-secondary" href="#">회원가입</a>
                    <a class="btn btn-sm btn-outline-secondary" href="#">로그인</a>
                </div>
            </div>
        </header>

        <div class="nav-scroller py-1 mb-3 border-bottom">
            <nav class="nav nav-underline justify-content-sm-evenly">
                <a class="nav-item nav-link link-body-emphasis active" href="/tennis">테니스</a>
                <a class="nav-item nav-link link-body-emphasis" href="/basketball">농구</a>
                <a class="nav-item nav-link link-body-emphasis" href="/futsal">풋살</a>
            </nav>
        </div>
        <div>
            <nav class="navbar navbar-expand-lg bg-body-tertiary rounded" aria-label="Thirteenth navbar example">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
                        <a class="navbar-brand col-lg-3 me-0" href="#">종목</a>
                        <ul class="navbar-nav col-lg-6 justify-content-lg-evenly">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/tennis">테니스</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/basketball">농구</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/futsal">풋살</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
</body>
</html>
