<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="tennis">
    <div class="container">
        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <a class="btn btn-primary btn-light"
                    th:classappend="${menu=='team'} ? 'active' : ''" th:href="@{/tennis/team}">팀</a>
            <a class="btn btn-primary btn-light"
                    th:classappend="${menu=='ranking'} ? 'active' : ''" th:href="@{/tennis/ranking}">팀순위</a>
            <a class="btn btn-primary btn-light"
                    th:classappend="${menu=='history'} ? 'active' : ''" th:href="@{/tennis/history}">역대기록</a>
            <a class="btn btn-primary btn-light"
                    th:classappend="${menu=='calender'} ? 'active' : ''" th:href="@{/tennis/calender}">일정</a>
            <a class="btn btn-primary btn-light"
                    th:classappend="${menu=='publish'} ? 'active' : ''" th:href="@{/tennis/publish}">게시판</a>
        </div>
    </div>

    <th:block th:if="${menu} == 'team'">
        <span th:replace="~{fragments/contentFrag/tabFrag/team :: team}"></span>
    </th:block>
    <th:block th:if="${menu} == 'history'">
        <span th:replace="~{fragments/contentFrag/tabFrag/history :: history}"></span>
    </th:block>
    <th:block th:if="${menu} == 'publish'">
        <span th:replace="~{fragments/contentFrag/tabFrag/publish :: publish}"></span>
    </th:block>
    <th:block th:if="${menu} == 'calender'">
        <span th:replace="~{fragments/contentFrag/tabFrag/calender :: calender}"></span>
    </th:block>
    <th:block th:if="${menu} == 'ranking'">
        <span th:replace="~{fragments/contentFrag/tabFrag/ranking :: ranking}"></span>
    </th:block>
</div>
</body>
</html>