<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="tennis">
    <th:block th:if="${menu} == 'team'">
        <span th:replace="~{fragments/contentFrag/tabFrag/team :: team}"></span>
    </th:block>
    <th:block th:if="${menu} == 'history'">
        <span th:replace="~{fragments/contentFrag/tabFrag/history :: history}"></span>
    </th:block>
    <th:block th:if="${menu} == 'publish'">
        <span th:replace="~{fragments/contentFrag/tabFrag/publish :: publish}"></span>
    </th:block>
    <th:block th:if="${menu} == 'calender'">
        <span th:replace="~{fragments/contentFrag/tabFrag/calender :: calender}"></span>
    </th:block>
    <th:block th:if="${menu} == 'ranking'">
        <span th:replace="~{fragments/contentFrag/tabFrag/ranking :: ranking}"></span>
    </th:block>
</div>
</body>
</html>