<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>team page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        .content {
            white-space: pre-wrap; /* 줄바꿈 문자 유지 및 자동 줄바꿈 */
            word-wrap: break-word; /* 긴 단어가 있으면 자동 줄바꿈 */
        }
    </style>
</head>
<body>
<br>
<div class="container">
    <div class="row g-3">
        <!-- 팀 카드 -->
        <div class="col-4 align-items-stretch">
            <div class="card shadow-sm">
                <a data-bs-toggle="modal" data-bs-target="#imageModal">
                    <img th:src="@{{filePath}(filePath=${team.imgPath})}" class="card-img-top object-fit-contain" alt="...">
                </a>
                <div class="card-body text-center border-top">
                    <div class="row align-items-center">
                        <div class="col border-end border-black">
                            <h5 class="card-title" th:text="${team.type} + '팀'"></h5>
                        </div>
                        <div class="col">
                            <h5 class="card-title fw-bold" th:text="${team.name}"></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 팀 소개글 카드 -->
        <div class="col-8 d-flex align-items-stretch">
            <div class="card shadow-sm" style="width: 100%">
                <div class="card-header">
                    <div class="row justify-content-between d-flex align-items-center">
                        <div class="col-2">
                            소개글
                        </div>
                        <div class="col-1 d-flex justify-content-end" th:object="${team}">
                            <form th:action="@{/{type}/team/desc/{id}/is-edit(type=${team.type},id=${team.id})}" th:object="${editForm}" method="post" style="display: contents">
                                <button type="submit" th:attr="name='str', value='edit'" style="text-decoration: none; color: inherit; display: contents">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                    </svg>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <!-- 팀 소개글 -->
                    <p class="card-text content" th:text="${team.desc}" th:if="${isVisible}">소개글 없음</p>

                    <!-- 팀 소개글 수정 모드 -->
                    <form th:action="@{/{type}/team/desc/{id}/edit-desc(type=${team.type},id=${team.id})}" th:if="${!isVisible}" th:object="${editInput}" method="post">
                        <p style="line-height: 0.5em" class="text-end" >
                            <textarea class="form-control" rows="6" th:field="*{inputTxt}"></textarea>
                            <br>
                            <a class="btn btn-secondary" type="button" th:href="@{/{type}/team/desc/{id}/is-edit(type=${team.type},id=${team.id},str='none')}">취소</a>
                            <button class="btn btn-primary" type="submit">수정</button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-header">
                    <div class="row justify-content-between d-flex align-items-center">
                        <div class="col-2">
                            멤버
                        </div>
                        <div class="col-1 d-flex justify-content-end" th:object="${team}">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#memberAddModal" style="text-decoration: none; color: inherit; display: contents">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="list-group list-group-flush">
                    <a th:each="teamMember : ${teamMembers}" class="list-group-item" th:text="${teamMember}" href="#">...</a>
                </div>
            </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a class="btn btn-outline-dark" role="button" th:href="${redirectURL}">뒤로가기</a>
            <button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#teamDelModal">팀삭제</button>
        </div>
    </div>
</div>
<!-- 이미지 변경 팝업 -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form th:action="@{/{type}/team/{id}(type=${team.type},id=${team.id})}" th:object="${team}" method="post" enctype="multipart/form-data">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">이미지 변경</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input class="form-control" type="file" id="formFile" accept="image/*" name="file" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                <button type="submit" class="btn btn-primary">저장</button>
            </div>
            </form>
        </div>
    </div>
</div>
<!-- 팀삭제 확인 팝업 -->
<div class="modal fade" id="teamDelModal" tabindex="-1" aria-labelledby="teamDelModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="teamDelModalLabel">팀 삭제 확인</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                정말로 팀을 삭제하시겠습니까?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                <form th:action="@{/{type}/team/desc/{id}/delete(type=${team.type},id=${team.id})}" th:object="${team}" method="post">
                    <button type="submit" class="btn btn-primary">확인</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- 팀 멤버 추가 모달 -->
<div class="modal fade" id="memberAddModal" tabindex="-1" aria-labelledby="memberAddModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form th:action="@{/{type}/team/desc/{id}/add-member(type=${team.type},id=${team.id})}" th:object="${memberName}" method="post">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="memberAddModalLabel">멤버 추가</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" th:field="*{inputTxt}">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary">추가</button>
                </div>
            </form>
        </div>
    </div>
</div>
<br>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
</script>
</body>
</html>