<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
        
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<span th:fragment="publish">
<body>
    <div class="container">
    <h2 class="my-4">테니스 매칭 게시판</h2>
    <a href="/tennis/publish/write" class="btn btn-primary mb-4">모집하기</a>
    <a href="/tennis/publish/list" class="btn btn-primary mb-4">경기찾기</a>
    </table>
    </div>
</body>
</span>
</html>
